.App {
    vertical-align: top;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.grid {
    margin: 20px auto;
    width: 300px;
    min-height: 100px;
    background-color: white;
}

.title {
    width: 122px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #b8bdc2;
    display: inline-block;
}

.info {
    display: inline-block;
}

.link, .clicked {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.link {
    color: #0b85ff;
}

.link:hover {
    /* color: #0055ff; */
    color: red;
}

.normal {
    font-size: 12px;
    color: #363b40;
}

.clicked {
    font-size: 12px;
    font-weight: bold;
    /* color: #0055ff; */
    color: red;

}
